/*IMPORTANDO A FONTE DAS LETRAS DO google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');


 
 /*DEFINE AS CONFIGURAÇÕES EM TODOS ELEMENTO DA PÁGINA*/


 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Libre Baskerville;
}


/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #303849; /* cinza escuro */
    --cor02: #303849; /* preto */
    --cor03: #D1D5DB; /* cinza claro */
    --cor04: #DC2626; /* vermelho */
    --cor05: #F3F4F6; /* branco */
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor02);

}

/*FORMATANDO O CABECALHO*/
#cabecalho {
   background-color: var(--cor02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
    height: 130px;
    width: 100%;
    

}

/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

#menu ul img {
    width: 25px;
    height: 25px;
}

/*FORMATANDO SECTION PESQUISA*/
#pesquisa {
    height: 100px;
    background-color: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pesquisa input {
    width: 650px;
    height: 80px;
    background-color: #f3efef;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.4em;
    color: #f5ecec;
}

#pesquisa input::placeholder {
    font-size: 1.3em;
    font-style: italic;
    color: #1a0a0a;
}

/*FORMATANDO OS CARDS*/
#cards {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: var(--cor01);


}


.card {
    width: 250px;
    min-height: 450px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor02);
    background-color: white;
}

.card img {
    width: 220px;
    height: 200px;
    margin: 10px 0px;
}

.card p {
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 20px 0px;
}

.card:hover {
    transform: translateY(5px);
}

.card h2 {
    color: var(--cor02);
}

.card button {
    width: 100%;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor02);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*FORMATANDO RODAPE*/
#rodape {
    width: 100%;
    height: 180px;
    background-color: var(--cor02);
    margin: 20px 0px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FORMATANDO LINKS*/
#menu a:link {
    font-size: 1.4em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #f8f8f2;
}

#menu a:visited {
    font-size: 1.4em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #e4e1dc;
}

#menu a:hover {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fcfbf8;
}

#menu a:active {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #f0efea;
}

#logo {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #f5f3ec;
   
}