



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Anton;
}

:root{
    --cor01: #1F2937; /* cinza escuro */
    --cor02: #111827; /* preto */
    --cor03: #D1D5DB; /* cinza claro */
    --cor04: #DC2626; /* vermelho */
    --cor05: #F3F4F6; /* branco */
}

#pesquisa {
    height: 100px;
    background-color: var(--cor02);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pesquisa input {
    width: 650px;
    height: 80px;
    background-color: var(--cor03);
    border-radius: 8px;
    padding: 10px;
    font-size: 1.4em;
    color: #f5ecec;
}
#pesquisa input::placeholder {
    font-size: 1.3em;
    font-style: italic;
    color:var(--cor02);
}


#geral {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor01);

}



#cabecalho {
    background-color: var(--cor03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
    height: 130px;
    width: 100%;

}

#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}


.card button {
    width: 100%;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor02);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


#rodape {
    width: 100%;
    height: 180px;
    background-color: var(--cor02);
    margin: 20px 0px;
    padding: 10px;
    color: var(--cor03);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#cadastro{
    width: 600px;
    margin: 30px auto;
    padding: 30px;
    background: var(--cor02);
    border-radius: 10px;
}

#cadastro h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

#cadastro form{
    display: flex;
    flex-direction: column;
}

#cadastro input{
    height: 40px;
    padding: 10px;
    border: 1px solid #eeebeb;
    border-radius: 5px;
}

#cadastro button{
    margin-top: 20px;
    height: 60px;
    background: #31305c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cadastro button:hover{
    background: #fcf3f3;
}

#menu a:link {
    font-size: 1.4em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #f8f8f2;
}

#menu a:visited {
    font-size: 1.4em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #f8f6f2;
}

#menu a:hover {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fcfbf8;
}

#menu a:active {
    font-size: 1.6em;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #f0efea;
}

#logo {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #f5f3ec;
}